.fa-check-circle {
  color: #1da1f2;
}

.artisti-box {
  height: fit-content;
  background-image: url(../imgs/search/image-38.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.img-artist {
  width: 3rem;
}
.rounded-circle {
  width: 4rem;
}
.small-text {
  font-size: 0.8rem;
  white-space: nowrap;
}
.heart-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: 2px solid green;
  border-radius: 50%;
  background-color: green;
  position: relative;
  left: 30px;
  bottom: 20px;
}

.list-music {
  background: linear-gradient(to top, black, transparent);
}
