.fa-check-circle {
  color: #1da1f2;
}

.artisti-box {
  height: fit-content;
  background-image: url(../imgs/search/image-38.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
