body {
  overflow: hidden;
}
.navcontent {
  height: 40vh;
}

.mainbox {
  height: 100vh;
}

@media screen and (max-width: 991px) {
  .mainbox {
    height: 60vh;
  }
}

@media screen and (min-height: 992px) {
  .navmenu {
    height: 27vh;
  }
}

.divchat > p {
  margin: 4px;
}

.navicons {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 1rem;
}

.navicons:hover {
  transform: scale(1.1) !important;
  transform-origin: top left;
  transition: transform 200ms;
  color: rgb(255, 255, 255);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
}

::-webkit-scrollbar-track {
  background-color: #000000;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.rightbar {
  max-height: 100vh;
}

.imgfooter {
  width: 3rem;
}

.progress-bar {
  height: 4px;
  border-radius: 10px;
  width: 30%;
  background-color: #ccc4;
}

.progress-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.gianmarcoimg {
  width: 2rem;
}
.card-img-top {
  border-radius: 5px;
  margin-top: 5px;
}
.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
.friend-activity {
  font-size: 0.75rem;
  font-weight: 700;
}
.friend-activity img {
  width: 45px;
  height: 45px;
}
.friend-activity .card-header {
  padding: 0.5rem 1rem;
}
.friend-activity .list-group-item {
  padding: 0.6rem 0.7rem;
}
.friend-activity small {
  font-size: 0.7rem;
  line-height: 1.3rem;
  font-weight: 300;
}
/* Margini aggiustati per l'icona EP e musica */
.icon-text {
  margin-left: 5px;
}
.list-group-item {
  border: none;
}

#playAlbum {
  cursor: pointer;
}
ol > li {
  list-style-type: none;
}
