.navmenu {
  height: 20vh;
}

.navcontent {
  height: 20vh;
}

@media screen and (min-height: 992px) {
  .navmenu {
    height: 27vh;
  }
}

.divchat > p {
  margin: 4px;
}

.navicons:hover {
  transform: scale(1.1) !important;
  transform-origin: top left;
  transition: transform 200ms;
  color: rgb(255, 255, 255);
}
